<p id="notice"><%= notice %></p>

<h1>HI, <%= @person.first_name %>  <%= @person.last_name %> </h1>

<%= render 'phone_numbers/phone_numbers', :phone_numbers => @person.phone_numbers %>
<%= render 'email_addresses/email_addresses', :email_addresses => @person.email_addresses %>

<ul class="action">
	<li><%= link_to 'Add Email Address', new_email_address_path(contact_id: @person.id, contact_type: 'Person'), { id: 'new_email_address'} %></li>
	<li><%= link_to 'Add phone number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %></li>
	<li><%= link_to 'Edit', edit_person_path(@person) %></li>
	<li><%= link_to 'Back', people_path %></li>
</ul>
